<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/youngtakcho/" target="_blank">@youngtakcho</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/youngtak-cho-91232396/" target="_blank">Youngtak Cho</a></p>
<!-- <p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://ellekasai.com/" target="_blank">ellekasai.com</a></p> -->
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:youngtakcho88@gmail.com" target="_blank">youngtakcho88@gmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:8172010832" target="_blank">817-201-0832</a></p>
